.input-text {
	color: black;
}

.main-icon {
	height: 50px;
	margin-top: 15px;
}

.header-row {
	height:30px;
	font-size: 18px;
	padding: 5px 5px 5px 5px;
}

.details-row {
	height:30px;
	font-size: 14px;
	padding: 5px 5px 5px 5px;
}

.outlook {
	margin-top: 30px;
}
